

.main {
  margin-left: 256px;
  /* Same as the width of the sidenav */
  /* Increased text to enable scrolling */
  margin-top: 64px;
}

.header {
  /* header: */
  margin-top: 0px;
  width: 1184px;
  height: 64px;
  opacity: 0.8;
  position: fixed;
  background: #1E2B41;
  margin-left: 256px;
  top: 0%;
}

body {
  color: white
}

.main {
  /* Rectangle: */
  background: #1E2B41;
}